  
<div class="container-fluid" style="height: 100vh; padding-top: 120px; background-color: #f3f5f8;">
  <div class="row">
    <div class="col-2 col-md-4"></div>
    <div class="col-8 col-md-4" style="text-align: center;">
      <h5>Welcome to FoodHub</h5>
      <br /><br />
      <input type="username" placeholder="username" class="form-control form-input" #userName required />
      <input type="password" placeholder="password" class="form-control form-input" #userPassword required />
      <button (click)="login(userName.value, userPassword.value)" class="btn btn-block btn-primary">Login</button>

      <br>
      <div class="forgotPassword">
        <a routerLink="/register">Register</a>
      </div>
    </div>
    <div class="col-2 col-md-4"></div>
  </div>
</div>