
<div class="container-fluid">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10" style="text-align: center;">
            <br>
            <h5>Log in to use FoodHub</h5>
            <br>
            <input type="email" placeholder="username" class="form-control form-input" #userName required />
            <input type="password" placeholder="password" class="form-control form-input" #userPassword required />
            <br>
            <div class="col-12" style="font-size: 14px; text-align: center;">
                <a class="btn btn-block btn-primary" (click)="login(userName.value, userPassword.value)">Log In</a>
              </div>
          <hr />
          <div class="container-fluid">
            <div class="row">
              <div class="col-12" style="font-size: 14px; text-align: center;">
                <a class="btn btn-block btn-primary" (click)="register()">Sign Up</a>
              </div>
            </div>
          </div>
  
          <br>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
