<div
  class="container-fluid"
  style="align-content: center; background-color: #f3f5f8;"
>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h1>Welcome to FoodHub, {{ username }} 🚴</h1>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-2" style="text-align: center;"></div>
    <div class="col-md-8" style="text-align: center;">
      <tabset>
        <tab heading="Current Ongoing Job">
          <br />
          <div *ngIf="currentJob.length == 0">
            <alert type="danger">
              <strong>Uh-oh...</strong> You currently have no job assigned to
              you! 🙇
            </alert>
          </div>
          <div *ngIf="currentJob.length > 0">
            <alert type="success">
              <strong>Hey there! 🏍️ </strong> Here are the details of your
              current assignment:
            </alert>
            <alert type="info">
              <p>
                <strong>Restaurant Name:</strong>
                {{ currentJob[0].restaurant_name }}
              </p>
              <p>
                <strong>Pickup Location:</strong>
                {{ currentJob[0].restaurant_location }}
              </p>
              <p>
                <strong>Delivery Location:</strong> {{ currentJob[0].location }}
              </p>
              <p>
                <strong>Customer Name:</strong> {{ currentJob[0].recipient }}
              </p>
              <p><strong>Total Cost:</strong> {{ currentJob[0].total_cost }}</p>
            </alert>
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Food Item</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let food of currentJob; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      {{ food.food_name }}
                    </td>
                    <td>{{ food.food_quantity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <button
                class="btn btn-info"
                (click)="collectingNow()"
                *ngIf="start"
              >
                I'm Going To Collect The Food! 🚨
              </button>
              <button
                class="btn btn-info"
                (click)="collectedNow()"
                *ngIf="collecting"
              >
                I've Collected The Food! 🍔
              </button>
              <button class="btn btn-info" (click)="omwNow()" *ngIf="collected">
                I'm On My Way! 🏃‍♂️
              </button>
              <button class="btn btn-info" (click)="done()" *ngIf="omw">
                I'm delivered the food! 😋
              </button>
            </div>
          </div>
          <br /><br />
        </tab>

        <tab heading="Weekly Work Schedules" *ngIf="!rider_type[0].rider_type">
          <br />
          <h5>View work schedule for the week of</h5>
          <select
            id="week"
            name="week"
            [(ngModel)]="selectedWeek"
            (change)="handleWWSChange()"
          >
            <option *ngFor="let week of weeks" [value]="week"
              >Week {{ week }}</option
            >
          </select>
          of
          <select
            id="month"
            name="month"
            [(ngModel)]="selectedMonth"
            (change)="handleWWSChange()"
          >
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select
            id="year"
            name="year"
            [(ngModel)]="selectedYear"
            (change)="handleWWSChange()"
          >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
          <br />
          <br />
          <table *ngIf="WWS.length > 0" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Day</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mws of MWS; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ mws.day }}</td>
                <td>{{ mws.starthour }}:00</td>
                <td>{{ mws.endhour }}:00</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="WWS.length == 0">
            <alert type="danger">
              <strong>Oh snap!</strong> You have not added your schedule for
              this week 😢
            </alert>
          </div>
        </tab>

        <tab heading="Monthly Work Schedules" *ngIf="rider_type[0].rider_type">
          <br />
          <h5>View work schedule for the month of</h5>

          <select
            id="month"
            name="month"
            [(ngModel)]="selectedMonth"
            (change)="handlePeriodChange()"
          >
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select
            id="year"
            name="year"
            [(ngModel)]="selectedYear"
            (change)="handlePeriodChange()"
          >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
          <br />
          <br />
          <table *ngIf="MWS.length > 0" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Week</th>
                <th scope="col">Day</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mws of MWS; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ mws.week }}
                </td>
                <td>{{ mws.day }}</td>
                <td>{{ mws.starthour }}:00</td>
                <td>{{ mws.endhour }}:00</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="MWS.length == 0">
            <alert type="danger">
              <strong>Oh snap!</strong> You have not added your schedule for
              this month 😢
            </alert>
          </div>
        </tab>

        <tab heading="Weekly Salary" *ngIf="!rider_type[0].rider_type">
          <br />

          <h5>View your salary for the week of</h5>
          <select
            id="week"
            name="week"
            [(ngModel)]="selectedWeekSalary"
            (change)="handlePeriodChangeWeeklySalary()"
          >
            <option *ngFor="let week of weeks" [value]="week"
              >Week {{ week }}</option
            >
          </select>
          of

          <select
            id="month"
            name="month"
            [(ngModel)]="selectedMonthSalary"
            (change)="handlePeriodChangeWeeklySalary()"
          >
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select
            id="year"
            name="year"
            [(ngModel)]="selectedYearSalary"
            (change)="handlePeriodChangeWeeklySalary()"
          >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
          <br />
          <br />
          <div *ngIf="weeklyStats[0].total_commission == 0">
            <alert type="danger">
              <strong>Sorry...</strong> You don't have any commission yet for
              this week 🥺👉🏻👈🏻
              <p>Your weekly base salary is <strong>$100</strong></p>
            </alert>
          </div>
          <div *ngIf="weeklyStats[0].total_commission > 0">
            <alert type="success">
              <strong>Nice!</strong> You've earned
              <strong>${{ weeklyStats[0].total_commission }}</strong> by
              completing
              <strong>{{ weeklyStats[0].total_num_orders }}</strong> this week
              and working
              <strong>{{ weeklyStats[0].total_num_hours_worked }}</strong>
              hours. 🤑

              <p>
                Your weekly base salary is
                <strong>$100</strong>
              </p>
            </alert>
          </div>
        </tab>

        <tab heading="Monthly Salary" *ngIf="rider_type[0].rider_type">
          <br />

          <h5>View salary for the month of</h5>

          <select
            id="month"
            name="month"
            [(ngModel)]="selectedMonthSalary"
            (change)="handlePeriodChangeSalary()"
          >
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select
            id="year"
            name="year"
            [(ngModel)]="selectedYearSalary"
            (change)="handlePeriodChangeSalary()"
          >
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
          <br />
          <br />
          <div *ngIf="monthlyStats.length == 0">
            <alert type="danger">
              <strong>Sorry...</strong> You don't have any commission yet for
              this month 🥺👉🏻👈🏻
              <p>Your monthly base salary is <strong>$800</strong></p>
            </alert>
          </div>
          <div *ngIf="monthlyStats.length > 0">
            <alert type="success">
              <strong>Nice!</strong> You've earned
              <strong>${{ monthlyStats[0].total_commission }}</strong> by
              completing
              <strong>{{ monthlyStats[0].total_num_orders }}</strong> this month
              and working
              <strong>{{ monthlyStats[0].total_num_hours_worked }}</strong>
              hours. 🤑

              <p>
                Your monthly base salary is
                <strong>${{ monthlyStats[0].base_salary }}</strong>
              </p>
            </alert>
          </div>
        </tab>

        <tab heading="WWS Update Submission" *ngIf="!rider_type[0].rider_type">
          <br />
          <div>
            <form [formGroup]="WWSForm">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Start Hour
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="start_hour"
                    class="form-control form-input"
                    formControlName="start_hour"
                  >
                    <option *ngFor="let hour of timing" [value]="hour">{{
                      hour
                    }}</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  End Hour
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="end_hour"
                    class="form-control form-input"
                    formControlName="end_hour"
                  >
                    <option *ngFor="let hour of timing" [value]="hour">{{
                      hour
                    }}</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Day
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="day"
                    class="form-control form-input"
                    formControlName="day"
                  >
                    <option value="1">Mon</option>
                    <option value="2">Tues</option>
                    <option value="3">Weds</option>
                    <option value="4">Thurs</option>
                    <option value="5">Fri</option>
                    <option value="6">Sat</option>
                    <option value="7">Sun</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Week
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="week"
                    class="form-control form-input"
                    formControlName="week"
                  >
                    <option *ngFor="let week of weeks" [value]="week">{{
                      week
                    }}</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Month
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="month"
                    class="form-control form-input"
                    formControlName="month"
                  >
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Year
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="year"
                    class="form-control form-input"
                    formControlName="year"
                  >
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
            <br />
            <button class="btn btn-success" (click)="addDraft()">
              Add to draft
            </button>
          </div>
          <br />
          <div>
            <h4>
              Current WWS Draft
            </h4>
            <div *ngIf="drafts.length > 0" [hidden]="!show">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Start Hour</th>
                    <th scope="col">End Hour</th>
                    <th scope="col">Day</th>
                    <th scope="col">Week</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let draft of drafts; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      {{ draft.start_hour }}
                    </td>
                    <td>
                      {{ draft.end_hour }}
                    </td>
                    <td>
                      {{ draft.day }}
                    </td>
                    <td>
                      {{ draft.week }}
                    </td>
                    <td>
                      {{ draft.month }}
                    </td>
                    <td>
                      {{ draft.year }}
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-success" (click)="submitWWS()">
                Confirm
              </button>
              &nbsp;
              <button class="btn btn-danger" (click)="reset()">
                Reset
              </button>
            </div>
            <div *ngIf="drafts.length == 0">
              You have not added any items to your draft schedule!
            </div>
          </div>
        </tab>

        <tab heading="MWS Update Submission" *ngIf="rider_type[0].rider_type">
          <br />
          <h4>
            Submit MWS for
            <select id="month" name="month" [(ngModel)]="MWSMonth">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <select id="year" name="year" [(ngModel)]="MWSYear">
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
            </select>
          </h4>
          <br />
          <div>
            <form [formGroup]="MWSForm">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Working Days
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="start_hour"
                    class="form-control form-input"
                    formControlName="days"
                  >
                    <option value="1">Mon, Tues, Weds, Thurs, Fri </option>
                    <option value="2">Tues, Weds, Thurs, Fri, Sat </option>
                    <option value="3">
                      Weds, Thurs, Fri, Sat, Sun
                    </option>
                    <option value="4">Thurs, Fri, Sat, Sun, Mon</option>
                    <option value="5">Fri, Sat, Sun, Mon, Tues</option>
                    <option value="6">Sat, Sun, Mon, Tues, Weds</option>
                    <option value="7">Sun, Mon, Tues, Weds, Thurs</option>
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Day 1 Shift
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="day"
                    class="form-control form-input"
                    formControlName="shift1"
                  >
                    <option value="1"
                      >Shift 1: 10am to 2pm and 3pm to 7pm
                    </option>
                    <option value="2"
                      >Shift 2: 11am to 3pm and 4pm to 8pm
                    </option>
                    <option value="3">
                      Shift 3: 12pm to 4pm and 5pm to 9pm
                    </option>
                    <option value="4"
                      >Shift 4: 1pm to 5pm and 6pm to 10pm</option
                    >
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Day 2 Shift
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="week"
                    class="form-control form-input"
                    formControlName="shift2"
                  >
                    <option value="1"
                      >Shift 1: 10am to 2pm and 3pm to 7pm
                    </option>
                    <option value="2"
                      >Shift 2: 11am to 3pm and 4pm to 8pm
                    </option>
                    <option value="3">
                      Shift 3: 12pm to 4pm and 5pm to 9pm
                    </option>
                    <option value="4"
                      >Shift 4: 1pm to 5pm and 6pm to 10pm</option
                    >
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Day 3 Shift
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="month"
                    class="form-control form-input"
                    formControlName="shift3"
                  >
                    <option value="1"
                      >Shift 1: 10am to 2pm and 3pm to 7pm
                    </option>
                    <option value="2"
                      >Shift 2: 11am to 3pm and 4pm to 8pm
                    </option>
                    <option value="3">
                      Shift 3: 12pm to 4pm and 5pm to 9pm
                    </option>
                    <option value="4"
                      >Shift 4: 1pm to 5pm and 6pm to 10pm</option
                    >
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Day 4 Shift
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="month"
                    class="form-control form-input"
                    formControlName="shift4"
                  >
                    <option value="1"
                      >Shift 1: 10am to 2pm and 3pm to 7pm
                    </option>
                    <option value="2"
                      >Shift 2: 11am to 3pm and 4pm to 8pm
                    </option>
                    <option value="3">
                      Shift 3: 12pm to 4pm and 5pm to 9pm
                    </option>
                    <option value="4"
                      >Shift 4: 1pm to 5pm and 6pm to 10pm</option
                    >
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                  Day 5 Shift
                </div>
                <div class="col-md-3">
                  <select
                    placeholder="year"
                    class="form-control form-input"
                    formControlName="shift5"
                  >
                    <option value="1"
                      >Shift 1: 10am to 2pm and 3pm to 7pm
                    </option>
                    <option value="2"
                      >Shift 2: 11am to 3pm and 4pm to 8pm
                    </option>
                    <option value="3">
                      Shift 3: 12pm to 4pm and 5pm to 9pm
                    </option>
                    <option value="4"
                      >Shift 4: 1pm to 5pm and 6pm to 10pm</option
                    >
                  </select>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
            <br />
            <button class="btn btn-success" (click)="submitMWS()">
              Submit schedule
            </button>
          </div>
          <br />
        </tab>
      </tabset>
    </div>
    <div class="col-md-2" style="text-align: center;"></div>
  </div>
</div>
<br />
<br />
<br />
