<div
  class="container-fluid"
  style="align-content: center; background-color: #f3f5f8;"
>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h1>Welcome to FoodHub, {{ username }}</h1>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-2" style="text-align: center;"></div>
    <div class="col-md-8" style="text-align: center;">
      <tabset>
        <tab heading="Menu" (selectTab)="console.log('ok')">
          <br />
          <accordion [isAnimated]="true">
            <ng-container *ngFor="let food of menu; index as i">
              <accordion-group
                *ngIf="!food.is_deleted"
                [heading]="food.food_name"
              >
                <div class="row">
                  <div class="col-md-10"></div>
                  <div class="col-md-2">
                    <button
                      *ngIf="food.edit == true"
                      (click)="closeEdit(i)"
                      class="btn btn-info"
                      style="float: right; margin-left: 2px;"
                    >
                      ❌
                    </button>
                    <button
                      (click)="editItem(i)"
                      class="btn btn-info"
                      style="float: right;"
                    >
                      ✏️
                    </button>
                  </div>
                </div>
                <div *ngIf="food.edit == false" class="row">
                  <div class="col-md-12">
                    <p><strong>Food Name:</strong> {{ food.food_name }}</p>
                    <p><strong>Price:</strong> ${{ food.food_price }} 💵</p>
                    <p>Cuisine Type: {{ food.cuisine_type }}</p>
                    <p>Rating: {{ food.overall_rating }}</p>
                    <p>Quantity: {{ food.quantity }}</p>
                    <br />
                    <button class="btn btn-danger" (click)="delete(i)">
                      Delete
                    </button>
                  </div>
                </div>

                <div *ngIf="food.edit == true" class="row">
                  <div class="col-md-12">
                    <form [formGroup]="editForm">
                      <div>
                        <p>
                          Food Name:
                        </p>
                        <input
                          class="form-input"
                          type="text"
                          [value]="food.food_name"
                          formControlName="food_name"
                        />
                      </div>
                      <div>
                        &nbsp;
                        <p>
                          Price:
                        </p>
                        <input
                          type="text"
                          formControlName="food_price"
                          [value]="food.food_price"
                          class="form-input"
                        />
                      </div>
                      <div>
                        &nbsp;
                        <p>
                          Cuisine Type:
                        </p>
                        <input
                          class="form-input"
                          type="text"
                          [value]="food.cuisine_type"
                          formControlName="cuisine_type"
                        />
                      </div>
                      <div>
                        &nbsp;
                        <p>
                          Quantity:
                        </p>
                        <input
                          class="form-input"
                          type="text"
                          [value]="food.quantity"
                          formControlName="quantity"
                        />
                      </div>
                      <br />
                      <button class="btn btn-primary" (click)="updateItem(i)">
                        Update
                      </button>
                    </form>
                  </div>
                </div>
              </accordion-group>
            </ng-container>
          </accordion>

          <br />
          <button class="btn btn-success" (click)="showAdd()">
            Add Menu Item
          </button>
          <div *ngIf="add">
            <form [formGroup]="createFoodForm">
              <br />

              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <input
                      type="text"
                      placeholder="Food Name"
                      formControlName="name"
                      class="form-control form-input"
                    />
                  </div>

                  <div class="col-12">
                    <input
                      type="text"
                      placeholder="Price"
                      formControlName="price"
                      class="form-control form-input"
                    />
                  </div>

                  <div class="col-12">
                    <input
                      type="text"
                      placeholder="Cuisine Type"
                      formControlName="cuisine_type"
                      class="form-control form-input"
                    />
                  </div>

                  <div class="col-12">
                    <input
                      type="text"
                      placeholder="Quantity"
                      formControlName="quantity"
                      class="form-control form-input"
                    />
                  </div>

                  <div class="col-12">
                    <select
                      placeholder="Availability"
                      class="form-control form-input"
                      formControlName="availability"
                    >
                      <option value="true">Available</option>
                      <option value="false">Unavailable</option>
                    </select>
                  </div>

                  <div class="col-12">
                    <button
                      (click)="submitForm()"
                      class="btn btn-block btn-primary"
                    >
                      Confirm
                    </button>
                    <br />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </tab>

        <tab heading="Reports" (selectTab)="console.log('ok')">
          <br />
          <h5>Generate report for the month of</h5>
          <select id="month" name="month" [(ngModel)]="selectedMonth">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select id="year" name="year" [(ngModel)]="selectedYear">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
          <br />
          <br />
          <button class="btn btn-success" (click)="generateReport()">
            Generate
          </button>
          <br />
          <br />
          <div *ngIf="showReport">
            <alert type="success">
              <strong>Total Completed Orders:</strong>
              <div>{{ this.totalOrders[0].generate_total_num_of_orders }}</div>
            </alert>
            <alert type="success">
              <strong>Total Cost of Completed Orders:</strong>
              <div *ngIf="totalCost[0].generate_total_cost_of_orders != null">
                ${{ this.totalCost[0].generate_total_cost_of_orders }}
              </div>
              <div *ngIf="totalCost[0].generate_total_cost_of_orders == null">
                $0
              </div>
            </alert>
            <alert type="success">
              &nbsp;
              <strong>Top 5 Popular Food:</strong>
              <p *ngFor="let food of top">{{ food.top_few }}</p>
            </alert>
          </div>
        </tab>

        <tab heading="Campaigns" (selectTab)="console.log('ok')">
          <br />
          <h5>All Promotional Campaigns</h5>
          <div *ngIf="campaigns.length == 0">
            <alert type="danger">
              <strong>None found!</strong> You have not added any campaigns! 😢
            </alert>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let campaign of campaigns">
              <p>Description: {{ campaign.description }} 📙</p>
              <p>Discount Rate: {{ campaign.discount }}% 💰</p>
              <p>Duration: {{ campaign.duration }} days</p>
              <p>Start Date: {{ campaign.new_start }}</p>
              <p>End Date: {{ campaign.new_end }}</p>
              <p>
                <button
                  class="btn btn-danger"
                  (click)="deleteCampaign(campaign.promo_id)"
                >
                  Delete
                </button>
              </p>
              <small
                style="float: right; color: red;"
                *ngIf="checkDate(campaign.end_date)"
              >
                This campaign has expired
              </small>
              <small
                style="float: right; color: green;"
                *ngIf="
                  !checkDate(campaign.end_date) &&
                  !checkStarted(campaign.start_date)
                "
              >
                This campaign is currently ongoing
              </small>
              <small
                style="float: right; color: orange;"
                *ngIf="checkStarted(campaign.start_date)"
              >
                This campaign has not started
              </small>
            </li>
          </ul>
          <br />
          <br />
          <form [formGroup]="createCampaign">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <label for="description">Description</label>
                  <input
                    type="text"
                    placeholder="Promotion Description"
                    formControlName="description"
                    id="description"
                    class="form-control form-input"
                  />
                </div>

                <div class="col-12">
                  <label for="start">Start Date</label>
                  <input
                    id="start"
                    type="date"
                    formControlName="start"
                    class="form-control form-input"
                  />
                </div>

                <div class="col-12">
                  <label for="end">End Date</label>
                  <input
                    id="end"
                    type="date"
                    formControlName="end"
                    class="form-control form-input"
                  />
                </div>

                <div class="col-12">
                  <label for="discount">Discount</label>
                  <input
                    type="text"
                    placeholder="Discount Percentage"
                    formControlName="discount"
                    class="form-control form-input"
                  />
                </div>
              </div>
            </div>
          </form>
          <br />
          <button class="btn btn-success" (click)="addCampaign()">
            Add new campaign
          </button>
        </tab>
      </tabset>
    </div>
    <div class="col-md-2" style="text-align: center;"></div>
  </div>
  <br />
</div>
