<div
  class="container-fluid"
  style="height: 100vh; padding-top: 50px; background-color: #f3f5f8;"
>
  <div class="row">
    <div class="col-2 col-md-4"></div>
    <div class="col-8 col-md-4" style="text-align: center;">
      <br />
      <h5>Let's create an account</h5>
      <form [formGroup]="createUserForm">
        <br />

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <input
                type="text"
                placeholder="Name"
                formControlName="name"
                class="form-control form-input"
              />
            </div>

            <div class="col-12">
              <input
                type="text"
                placeholder="Username"
                formControlName="username"
                class="form-control form-input"
              />
            </div>

            <div class="col-12">
              <input
                type="password"
                placeholder="Password"
                class="form-control form-input"
                formControlName="password"
              />
            </div>

            <div class="col-12">
              <select
                placeholder="Role"
                class="form-control form-input"
                formControlName="user_role"
                (change)="onChange($event.target.value)"
              >
                <option value="rider">Rider</option>
                <option value="customer">Customer</option>
                <option value="manager">Manager</option>
                <option value="staff">Restaurant Staff</option>
              </select>
            </div>

            <div *ngIf="isRider()" class="col-12">
              <select
                placeholder="rider_type"
                class="form-control form-input"
                formControlName="rider_type"
              >
                <option value="part">Part Time Rider</option>
                <option value="full">Full Time Rider</option>
              </select>
            </div>

            <div *ngIf="isRestaurant()" class="col-12">
              <select
                placeholder="restaurant_name"
                class="form-control form-input"
                formControlName="restaurant_name"
              >
                <option
                  *ngFor="let restaurant of restaurants"
                  [value]="restaurant"
                  >{{ restaurant }}</option
                >
              </select>
            </div>

            <div class="col-12">
              <button (click)="submitForm()" class="btn btn-block btn-primary">
                Sign Up
              </button>
              <br />
            </div>
          </div>
        </div>

        <hr />
        <div class="container-fluid">
          <div class="row">
            <div class="col-12" style="font-size: 14px;">
              <a style="color: blue;" (click)="goToLogin()">or login</a>
            </div>
          </div>
        </div>
      </form>

      <br />
    </div>
    <div class="col-2 col-md-4"></div>
  </div>
</div>
