<div class="container-fluid" 
style="align-content: center; background-color:#f3f5f8 ;">
  <div class="row"> 
    <div class="col-md-12" style="text-align: center;">
      <h1> Welcome to FoodHub, {{ username }}</h1>
    </div>
  </div>  
        <br />

  
  <div class="container"> 
  <div class="row"> 
      <h5>Past Delivery Ratings</h5>
  </div>

  
          <div class="col-md-12">
            <table class="table table-striped"> 
              <thead> 
                <tr>
                  <th scope="col"> # </th>
                  <th scope="col"> Order ID </th>
                  <th scope="col"> Rating </th>
                  <th scope="col"> Rider </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let delivery of pastDeliveries; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ delivery[0] }}
                  </td>
                  <td>{{ delivery[1] }}</td>
                  <td>{{ delivery[2] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
  <div>
  <br />
  <div class="row"> 
      <h5>Past Food Reviews</h5>
  </div>
       
          <div class="col-md-12">
            <table class="table table-striped"> 
              <thead> 
                <tr>
                  <th scope="col"> # </th>
                  <th scope="col"> Order ID </th>
                  <th scope="col"> Restaurant name </th>
                  <th scope="col"> Review </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let review of pastReviews; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ review[0] }}
                  </td>
                  <td>{{ review[1] }}</td>
                  <td>{{ review[2] }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />

  <div class="row"> 
    <h5> List of Menus </h5>
  </div>
      <div class="col-md-12">
        <table class="table table-striped"> 
          <thead> 
            <tr>
              <th scope="col"> # </th>
              <th scope="col"> Restaurant ID </th>
              <th scope="col"> Restaurant name </th>
              <th scope="col"> Min Order ($) </th>
            </tr>
          </thead>
          <!-- <tbody> 
            <tr class="clickable-row" (click)="showYourModal()">  
              <th scope="row"> 1 </th>
              <td> 1234 </td>
              <td> Macdonalds </td>
              <td> 20 </td>
            </tr>
          
          </tbody> -->
          <tbody>
            <tr *ngFor="let restaurant of restaurants; index as i" class="clickable-row" (click)="showYourModal(i)">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ restaurant[0] }}
              </td>
              <td>{{ restaurant[1] }}</td>
              <td>{{ restaurant[2] }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    




  </div>
</div>

  </div>